# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production builds
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment Variables (ÇOX VACİB - MƏXFİDİR)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Local history
.history/
